In [60]:
import pandas as pd
import random
import numpy as np

In [76]:
def generate():
    flag = np.round(np.random.uniform(0, high=1, size=284807), 2)
    flag_history = np.round(np.random.uniform(0, high=1, size=284807), 2)
    oversea_spending = random.choices(['Yes', 'No'], [8, 3], k=284807)
    transaction_channel= random.choices(['Bank', 'Third party'], [8, 5], k=284807)
    transaction_type = random.choices(['Credit', 'Debit'], [10, 7], k=284807)
    amount = np.round(np.random.uniform(100, high=1000000, size=284807), 2)
    
    return amount, flag_history, oversea_spending, transaction_channel, transaction_type, flag

In [77]:
amount, flag_history, oversea_spending, transaction_channel, transaction_type, flag = generate()

In [78]:
save = pd.DataFrame({'amount':amount, 'flag_history':flag_history, 'oversea_spending':oversea_spending, 'transaction_channel':transaction_channel, 'transaction_type':transaction_type, 'flag':flag})

In [79]:
save.head()

,amount,flag_history,oversea_spending,transaction_channel,transaction_type,flag
0,831174.90,0.78,Yes,Third party,Credit,0.52
1,183515.51,0.33,Yes,Bank,Debit,0.45
2,787127.62,0.47,Yes,Third party,Credit,0.29
3,194157.48,0.89,Yes,Bank,Debit,0.62
4,798524.94,0.15,Yes,Third party,Credit,0.81

In [67]:
save.to_csv('../data/train.csv', index=False)